
.navbar-brand {
    font-size: 1.5em;    
    margin: 0px auto;
    padding: 0px auto;   
}
.nav-item{
    font-size: 1em;  
    margin-left: 10px;
    }
.active{
    color: aliceblue;
        }

.has-error { border: 10px  red;
    }


